.h1 {
	color: var(--primary-font-color);
	font-size: clamp(2rem, 10vw, 4rem);
}

.article {
	color: var(--primary-font-color);
	font-size: 20px;
}

.section {
	width: 100vw;
	max-width: 1000px;
	align-self: center;
	padding: 0 2em;
	@media only screen and (max-device-width: 412px) {
		padding: 0 1.2em;
	}
}

.nav {
	overflow: scroll;
	height: 70vh;
}

.navControls {
	display: flex;
	justify-content: right;
	svg path {
		color: var(--primary-font-color);
		stroke-width: 0;
	}

	.enabled {
		cursor: pointer;
	}

	.disabled {
		pointer-events: none;
		opacity: 0.4;
	}
}
