.h1 {
	color: var(--primary-font-color);
	font-size: clamp(2rem, 10vw, 4rem);
}

.article {
	color: var(--primary-font-color);
}

.section {
	width: 100%;
	max-width: 1000px;
	align-self: center;
	padding: 0 2em;
	@media only screen and (max-device-width: 412px) {
		padding: 0 1.2em;
	}
}

.nav {
	overflow: scroll;
	height: 70vh;
}
